* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}
body {
    height: 4000px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 15vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.header-div-2 {
    display: none;
    flex-direction: column;
    gap: 7px;
}
.header-div-3 {
    background: #080341;
    height: 5px;
    width: 40px;
    border-radius: 15px;
}
.header-a {
    color: #000000;
    text-decoration: none;
}
.header-input {
    width: 372px;
    height: 56px;
    gap: 8px;
    border-radius: 8px;
    border: none;
    padding: 16px;
    background: #F5F5F5;
    outline: none;
}
.header-nav-list {
    display: flex;
    gap: 52px;
    list-style: none;
}
.header-nav-item {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    opacity: 0.3;
    text-decoration: none;
    color: #000000;
}
.header-nav-item-1 {
    opacity: 1;
}
.header-div {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media screen and (max-width: 1250px) {
    .header-nav-list {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header-div {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-input {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-div-2 {
        display: flex;
    }
}

/************************************ HEADER *********************************/

.phone-section {
    background: #211C24;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 85vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.phone-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.phone-section-p-1 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 0.4;
}
.phone-section-h2 {
    font-weight: 100;
    font-size: 96px;
    color: #FFFFFF;
}
.phone-section-h2 span {
    font-weight: 600;
}
.phone-section-p-2 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    color: #909090;
}
.phone-section-button {
    width: fit-content;
    padding: 16px 56px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: #211C24;
}
.phone-img {
    height: 84vh;
}
.small-phone {
    display: none;
}

@media screen and (max-width: 1000px) {
    .phone-img {
        width: 300px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    .phone-section-p-1 {
        text-align: center;
    }
    .phone-section-h2 {
        text-align: center;
    }
    .phone-section-p-2 {
        text-align: center;
    }
    .phone-section-div-2 {
        display: flex;
        justify-content: center;
    }
    .phone-img {
        display: none;
    }
    .small-phone {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        height: 100vh;
    }
}

/******************************** PHONE-SECTION ****************************/

