* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

html, body {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 15vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.header-div-2 {
    display: none;
    flex-direction: column;
    gap: 7px;
}

.header-div-3 {
    background: #080341;
    height: 5px;
    width: 40px;
    border-radius: 15px;
}

.header-a {
    color: #000000;
    text-decoration: none;
}

.header-input {
    width: 372px;
    height: 56px;
    gap: 8px;
    border-radius: 8px;
    border: none;
    padding: 16px;
    background: #F5F5F5;
    outline: none;
}

.header-nav-list {
    display: flex;
    gap: 52px;
    list-style: none;
}

.header-nav-item {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    opacity: 0.3;
    text-decoration: none;
    color: #000000;
}

.header-nav-item-1 {
    opacity: 1;
}

.header-div {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media screen and (max-width: 1250px) {
    .header-nav-list {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header-div {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-input {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-div-2 {
        display: flex;
    }
}

/************************************ HEADER *********************************/

.phone-section {
    background: #211C24;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 85vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.phone-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.phone-section-p-1 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 0.4;
}

.phone-section-h2 {
    font-weight: 100;
    font-size: 96px;
    color: #FFFFFF;
}

.phone-section-h2 span {
    font-weight: 600;
}

.phone-section-p-2 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    color: #909090;
}

.phone-section-button {
    width: fit-content;
    padding: 16px 56px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: #211C24;
}

.phone-img {
    height: 84vh;
}

.small-phone {
    display: none;
}

@media screen and (max-width: 1000px) {
    .phone-img {
        width: 300px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .phone-section-p-1 {
        text-align: center;
    }

    .phone-section-h2 {
        text-align: center;
    }

    .phone-section-p-2 {
        text-align: center;
    }

    .phone-section-div-2 {
        display: flex;
        justify-content: center;
    }

    .phone-img {
        display: none;
    }

    .small-phone {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        height: 100vh;
    }
}

/******************************** PHONE-SECTION ****************************/

.nesting-section {
    display: flex;
}

.left {
    width: 50%;
}

.right-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    background: #EDEDED;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.main-left-top {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.left-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-down {
    display: flex;
    width: 100%;
}

.left-down-left {
    display: flex;
    align-items: center;
    gap: 10%;
    width: 50%;
    background: #EDEDED;
}

.left-down-right {
    display: flex;
    align-items: center;
    gap: 10%;
    width: 50%;
    background: #353535;
}

.left-top-h2 {
    font-weight: 500;
    font-size: 49px;
    letter-spacing: 0;
}

.left-top-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #909090;
    width: 338px;
}

.left-top-img-2 {
    display: none;
}

.left-down-left-h2 {
    font-weight: 300;
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 0;
    width: 100px;
}

.left-down-left-h2 span {
    font-weight: 500;
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 0;
}

.left-down-left-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #909090;
    width: 160px;
}

.left-down-left-img-2 {
    display: none;
}

.left-down-right-h2 {
    font-weight: 300;
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 130px;
}

.left-down-right-h2 span {
    font-weight: 500;
}

.left-down-right-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #909090;
    width: 160px;
}

.left-down-right-img-2 {
    display: none;
}

.right-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right-h2 {
    font-weight: 100;
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0;
    width: 160px;
}

.right-h2 span {
    font-weight: 500;
    letter-spacing: 0;
}

.right-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #909090;
    width: 360px;
}

.right-button {
    width: fit-content;
    padding: 16px 56px;
    border-radius: 6px;
    background: #EDEDED;
}

.right-img-2 {
    display: none;
}

@media screen and (max-width: 1400px) {
    .left-top-p {
        width: 200px;
    }
}

@media screen and (max-width: 1300px) {
    .right-p {
        width: 200px;
    }
}

@media screen and (max-width: 1250px) {
    .left-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .left-top-img {
        display: none;
    }

    .left-top-img-2 {
        display: block;
    }

    .left-top-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-top-p {
        text-align: center;
    }
}

@media screen and (max-width: 1250px) {
    .left-down-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .left-down-left-img {
        display: none;
    }

    .left-down-left-img-2 {
        display: block;
    }

    .left-down-left-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-down-left-h2 {
        text-align: center;
    }

    .left-down-left-p {
        text-align: center;
    }
}

@media screen and (max-width: 1250px) {
    .left-down-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .left-down-right-img {
        display: none;
    }

    .left-down-right-img-2 {
        display: block;
        width: 90%;
    }

    .left-down-right-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-down-right-h2 {
        text-align: center;
    }

    .left-down-right-p {
        text-align: center;
    }
}

@media screen and (max-width: 1250px) {
    .right {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }

    .right-img {
        display: none;
    }

    .right-img-2 {
        display: block;
    }

    .right-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-h2 {
        text-align: center;
        width: 230px;
    }

    .right-p {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .left-down {
        display: flex;
        flex-direction: column;
    }

    .left-down-left {
        width: 100%;
    }

    .left-down-right {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .nesting-section {
        display: flex;
        flex-direction: column;
    }

    .main-left-top {
        width: 200%;
    }

    .left-down-left {
        width: 200%;
    }

    .left-down-right {
        width: 200%;
    }

    .right-1 {
        width: 100%;
        padding-bottom: 20px;
    }
}

/********************************** NESTING-SECTION *************************/

.category {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #FAFAFA;
}

.category-h2 {
    font-weight: 500;
    font-size: 24px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.category-div-1 {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.category-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #EDEDED;
    padding: 24px;
    border-radius: 15px;
}

.category-h3 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .category-div-1 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}

@media screen and (max-width: 600px) {
    .category-div-1 {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

    }
}

@media screen and (max-width: 380px) {
    .category-div-1 {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

/******************************** CATEGORY *******************************/

.price {
    padding-top: 56px;
    padding-bottom: 56px;
}

.price-div-1 {
    display: flex;
    gap: 32px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.price-a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    color: #8B8B8B;
}

.price-a-2 {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.price-div-2 {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.price-div-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 9px;
    background: #F6F6F6;
}

.price-figure-1 {
    display: flex;
    align-self: flex-end;
}

.price-p-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    width: 236px;
}

.price-p-2 {
    width: 150px;
}

.price-h3-1 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.price-button-1 {
    padding: 12px 64px;
    border-radius: 8px;
    color: #FFFFFF;
    background: #000000;
    border: none;
}

@media screen and (max-width: 1400px) {
    .price-div-2 {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

    }
}

@media screen and (max-width: 1050px) {
    .price-div-2 {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 700px) {
    .price-div-2 {
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

@media screen and (max-width: 510px) {
    .price-div-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

/********************************** PRICE *********************************/

.discount {
    padding-top: 80px;
    padding-bottom: 80px;
}

.discount-h2 {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.discount-div-1 {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.discount-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 9px;
    background: #F6F6F6;
}

.discount-figure-1 {
    display: flex;
    align-self: flex-end;
}

.discount-p-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    width: 236px;
}

.discount-h3-1 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.discount-button-1 {
    padding: 12px 64px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background: #000000;
}

@media screen and (max-width: 1400px) {
    .discount-div-1 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 1050px) {
    .discount-div-1 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

    }
}

@media screen and (max-width: 700px) {
    .discount-div-1 {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

/*********************************** DISCOUNT *******************************/

.summer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #000000;
    padding-top: 200px;
    padding-bottom: 200px;
}

.summer-h2 {
    font-weight: 100;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
}

.summer-h2 span {
    font-weight: 300;
}

.summer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    color: #787878;
}

.summer-button {
    padding: 16px 56px;
    border-radius: 6px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width: 550px) {
    .summer-h2 {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .summer-p {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .summer-h2 {
        width: 300px;
    }
}

@media screen and (max-width: 340px) {
    .summer-p {
        width: 200px;
    }
}


/*********************************** SUMMER *******************************/

.footer {
    padding-top: 104px;
    padding-bottom: 50px;
    background: #000000;
}

.footer-main-div-1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footer-div-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-div-1-h3 {
    color: #FFFFFF;
}

.footer-div-1-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0;
    color: #CFCFCF;
    width: 384px;
}

.footer-div-2, .footer-div-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-div-2-h3, .footer-div-3-h3 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.footer-div-2-a, .footer-div-3-a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    color: #CFCFCF;
    text-decoration: none;
}

.footer-main-div-2 {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footer-figure-1 {
    display: flex;
    gap: 20px;
}

.footer-img-1 {
    width: 26px;
    height: 26px;
}

.main-gabriel {
    display: flex;
    justify-content: center;
}

.gabriel {
    text-align: center;
    margin-top: 100px;
    line-height: 30px;
    color: #FFFFFF;
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .footer-div-1-p {
        width: 260px;
    }
}

@media screen and (max-width: 850px) {
    .footer-main-div-1 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 738px) {
    .footer-figure-1 {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 500px) {
    .footer-main-div-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
        text-align: center;
    }

    .footer-main-div-2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}